

body{
    
    width:100%;
}
header{
    background-image:url("https://images.pexels.com/photos/7640/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") ;
    background-size: 100% 100%;
}
h1{
    background-image:url("https://images.pexels.com/photos/4335842/pexels-photo-4335842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") ;
    background-size: cover;
    -webkit-background-clip: text;
    color:transparent;
    background-position-y: 36%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1000%;
    font-family: 'Erica One', cursive;
}
div{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    height: 20px;
    
}