

body{
    -webkit-font-smoothing: antialiased;
    width:99%;
    
}
header{
    background-image:url("https://images.pexels.com/photos/7640/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") ;
    background-size: 100%;
    background-size: cover;

}
h1{
    background-image:url("https://images.pexels.com/photos/4335842/pexels-photo-4335842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=1300") ;
    background-size: cover;
    -webkit-background-clip: text;
    color:transparent;
    background-position-y: 42%;
    background-position-x: 25%;
    text-transform: uppercase;
    text-align: center;
    font-size: 1000%;
    font-family: 'Erica One', cursive;
    padding-bottom: 17%;
}
nav{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: inherit;
    justify-content: flex-end;
    border: none;
    background-color: transparent;
    color: #40171d;
}
a:link{
    color:  #611914;
    font-size: 150%;
    text-decoration: none;
    margin: 1%;
}

@media(max-width: 500px) {
    body{
        width: 98%;
    }
    header{
        background-image:url("https://images.pexels.com/photos/1576937/pexels-photo-1576937.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=500");
    }

    h1{
        font-size: 500%;
        background-image: url("https://images.pexels.com/photos/3236748/pexels-photo-3236748.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
        background-position-y: 55%;

    }
    nav{
        justify-content: space-between;
    }
    a:link{
        color: #4A5405;
        font-size: 125%;
    }
}